# Terraform working directory
**/.terraform/*
.terraform.lock.hcl

# Terraform state (local)
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Terraform plan output
*.tfplan

# CLI override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform variables (secrets / env-specific)
*.tfvars
*.tfvars.json
